* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color-white: #ffffff;
  --color-blue-900: #34345b;
  --color-blue-300: #7879f1;
  --color-blue-400: #5958ed;
  --color-gray-100: #dce1e9;
  --color-red-500: #e40e20;
}

body {
  background: linear-gradient(315deg, #c2e9fb 0%, #a1c4fd 100%);
  color: var(--color-blue-900);

  display: grid;
  place-items: center;
  height: 100vh;
}

html,
body,
button,
input {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
}

button {
  background: var(--color-blue-300);
  border-radius: 0.4rem;

  color: var(--color-white);
  font-weight: 700;

  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: var(--color-blue-400);
}

.hide {
  display: none;
}

main {
  background: var(--color-white);
  border-radius: 0.6rem;
  box-shadow: 0rem 0.2rem 0.4rem 0rem rgba(0, 0, 0, 0.1);
  padding: 4.8rem 6.4rem 6.4rem;
  width: min(42.8rem, 90%);

  text-align: center;
}

/* Screen 1 */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

p {
  line-height: 1.5;
  opacity: 0.8;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 4.8rem;
}

input,
button {
  border: 0;
  padding: 1.6rem;
}

input {
  background: var(--color-gray-100);
  border-radius: 0.4rem 0 0 0.4rem;
  max-width: 7.2rem;

  color: var(--color-blue-900);
  text-align: center;
}

.screen1 button {
  border-radius: 0 0.4rem 0.4rem 0;
}

/* Screen 2 */
h2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;

  margin-bottom: 3.4rem;
}

.wrong-answer {
  --duration: 0.8s;
  animation: shake-horizontal var(--duration) cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.wrong-answer > input {
  outline: 2px solid var(--color-red-500);
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
